#navegacion{
  background-color: #000056;
  color: white;
  font-family: Arial;
  text-align: center;
  margin: 2%;
  margin-top: 0%;
  
}
h1{
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  padding-bottom: 2%;
}
div{
  padding: 20px;

  border:  solid;
  border-width: 1px;
  border-color: rgba(220, 237, 252, 0.699);
}

#links{
  color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

#jaja{
  color:#400A40;
  font-family:monospace;
  text-align: left;
  font-size: 15px;

}
ol{
  background-color: aliceblue;
}